<footer class="border-top footer text-muted text-center ">
    <div class="container">
        CopyRight  &copy; Book Store @DateTime.Now.Year
        <a href="mailto:ms.ghazi253@gmail.com"></a>
        <custom-email asp-for=""></custom-email>
    </div>
</footer>