
@*@{ 
    Layout=null"
}*@
@*@{ 
    dynamic Data = ViewBag.Data;
}*@
@*@{ 
    ViewData["Title"] = "Home";
}*@
@{ 
    var book = ViewData["Book"] as BookModel;
}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="h1"> welcom to Bookstore @*@ViewBag.Title*@  @*@ViewData["property1"]*@ @ViewData["CustomPeroperty"]</h1>
       <h1 class="h1">Id=@book.Id</h1>
       <h1 class="h1">Title=@book.Title</h1>
        <p class="lead text-muted">
            @*@Data.Id @Data.Name<br />
            id= @ViewBag.Type.Id<br />
            Name= @ViewBag.Type.Author<br />*@
            orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p href="#" class="btn btn-primary my-2">Search books</p>
    </div>
</section>

<div class="container">
    
    <big>Top books</big>
    <p big>Top book using attribute</p>
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <div class="col">
           <partial name="_bookThumbnail" model="new BookModel()" />
        </div>
        <div class="col">
            <partial name="_bookThumbnail" model="new BookModel()" />
        </div>
        <div class="col">
            <partial name="_bookThumbnail" model="new BookModel()" />
        </div>
        <div class="col">
            <partial name="_bookThumbnail" model="new BookModel()"/>
        </div>
    </div>
</div>
@section Scripts{ 
    <script>
        $(document).Read(function () {
            alert("document is ready");
        })
    </script>
}
